@charset "UTF-8";

@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background-color: red;
    div.corpo {
      display: block;
    }
  }

  header {
    width: 100%;
    height: 200px;
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;

    h1 {
      font-size: 2.8em;
      margin-top: 0;
    }

    p {
      font-size: 2em;
    }

    img {
      display: none;
    }
  }

  main {
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 10px 10px;

    section {
      h2 {
        font-size: 2em;
        margin-bottom: 20px;
      }

      div.secao {
        margin: 15px 0;
        padding: 5px;

        div#preco {
          span {
            font-size: 1.4em;
          }

          h3 {
            font-size: 1.3em;
            margin-bottom: 5px;
          }
        }

        p {
          font-size: 0.9em;
          margin-top: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    h1 {
      font-size: 2.9em;
      margin-top: 80px;
    }

    p {
      font-size: 1.5em;
    }

    img {
      width: 400px;
      margin-top: 50px;
    }
  }

  main {
    section {
      transform: translateY(20%);
      h2 {
        margin-bottom: 40px;
      }

      div.secao {
        margin: 10px 0;

        div#preco {
          h3 {
            margin-bottom: 1px;
          }

          span {
            font-size: 1.1em;
          }
        }

        p {
          font-size: 1em;
          margin-top: 3px;
        }
      }
    }
  }
}

@media print {
  header {
    padding: 50px 0;

    p {
      margin-top: 30px;
    }

    img {
      width: 300px;
      height: 300px;
    }
  }

  main {
    padding: 10px 10px;

    section {
      margin-top: 30%;

      div.secao {
        margin: 20px 0;

        div#preco {
          h3 {
            font-size: 1.2em;
          }

          span {
            font-size: 1.2em;
          }
        }

        p {
          font-size: 0.9em;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.338);
          margin-top: 10px;
        }
      }
    }
  }
}
